.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -150px;
}

.alert-container {
    width: 400px; /* Mismo ancho que el panel */
    margin-top: -20px; /* Ajusta según tus necesidades */
}

.panel {
    width: 400px;
    border: 2px solid #5bc0de;
    border-radius: 8px;
    margin-top: 50px;
}

.panel-heading {
    background-color: #5bc0de;
    border-bottom: 2px solid #5bc0de;
    border-radius: 6px 6px 0 0;
}

.panel-body {
    padding: 20px;
    background-color: #f0f0f0; /* Fondo gris */
}

.dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dl-horizontal dd {
    margin-left: 180px;
}

.btn-default {
    background-color: #5bc0de;
    border-color: #5bc0de;
    color: #fff;
}

    .btn-default:hover {
        background-color: #4da2c1;
        border-color: #4da2c1;
    }
