/* Coded with love by Mutiullah Samim */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #f5f5f5 !important; /* Fondo gris */
}

.user_card {
    height: 400px;
    width: 350px;
    margin: auto; /* Para centrar vertical y horizontalmente */
    background: #3498db; /* Fondo celeste */
    position: relative;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Para centrar contenido horizontalmente */
    margin-top: 10%; /* Mueve el contenedor hacia arriba */
}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #f5f5f5; /* Fondo gris */
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.form_container {
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
    width: 100%; /* Asegura que el formulario ocupe todo el ancho */
}

.login_btn {
    width: 100%;
    background: #f39c12 !important; /* Botón naranja */
    color: white !important;
}

    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #f39c12 !important; /* Color de fondo del ícono en el campo de entrada */
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #f39c12 !important; /* Fondo naranja */
}


