@model IEnumerable<DB.Models.control_de_permiso_colaborador>

@{
    ViewBag.Title = "Permisos Personal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/content/IndexStyle.css">
</head>

<h2 class="text-left mb-4">Permisos personal</h2>

<div class="row mb-3">
    <div class="col-md-6">
        <button id="generarPdfBtn" class="btn btn-danger">Generar PDF</button>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        @if (Model.Any())
        {
            <thead class="bg-primary text-white">
                <tr>
                    <th class="text-center">Id permiso</th>
                    <th class="text-center">Descripción</th>
                    <th class="text-center">Fecha de aprobación</th>
                </tr>
            </thead>
        }

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@Html.DisplayFor(modelItem => item.Id_Permiso)</td>
                    <td class="text-center">@Html.DisplayFor(modelItem => item.catalogo_control_permisos_colaborador.Descripcion)</td>
                    <td class="text-center">@Html.DisplayFor(modelItem => item.Fecha_Solicitud)</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script>
    generarPDF('Permiso_Personal.pdf');


</script> @if (Session["Error"] != null){ <script>NoSeElimino('@Session["Error"].ToString()');</script> }