<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a PRHM Instalaciones</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/Principal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>

<body>
    <header>
        <img src="~/assets/images/logo_prhm.jpg" alt="Logo de la empresa">
        <h1>Bienvenido a PRHM Instalaciones</h1>
    </header>
    <div class="container">
        <main>
            <p>Somos una empresa dedicada a la construcción de edificios, viviendas y obras civiles. Contamos con un equipo de profesionales altamente capacitados para llevar a cabo proyectos de gran envergadura.</p>
            <p>En PRHM Instalaciones, nos esforzamos por brindar un servicio de calidad, cumpliendo con los más altos estándares de seguridad y eficiencia.</p>
            <div class="feature">
                <i class="fas fa-shield-alt fa-3x"></i>
                <p>Nuestra prioridad es la seguridad de nuestros trabajadores y clientes.</p>
            </div>
            <div class="feature">
                <i class="fas fa-clock fa-3x"></i>
                <p>Buscamos la eficiencia en cada proyecto, optimizando recursos y tiempos de ejecución.</p>
            </div>
            <div class="feature">
                <i class="fas fa-check-circle fa-3x"></i>
                <p>Garantizamos la calidad en cada detalle, desde la planificación hasta la entrega final.</p>
            </div>

        </main>
    </div>
    <footer>
        <p>&copy; 2024 PRHM Instalaciones. Todos los derechos reservados.</p>
    </footer>
</body>

</html>